body, html {
    height: 100%;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    position: relative;
    background-image: url("../images/planet.jpg");
    filter: blur(2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position Big Container in the middle of the page*/
  .Container {
    position: absolute;
    top: 8%;
    left: 10%;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .head {
    white-space: pre-wrap;
    letter-spacing: .04em;
    font: 24px/1.2 'Inconsolata', monospace;
  }

  .charactersContainer {
    float: left;
     height: 650px;
  }

  .card {
    display: inline-block;
    position: relative;
    background-color: rgba(3, 31, 32, 0.4);
    width: 400px;
    height: 500px;;
    margin: 20px 0 50px 70px;
    border-radius: 10px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 5px black;
    transition: 0.6s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

/*Top part of the card*/
header {
    background-color: rgb(170, 164, 164);
    height: 100px;
    height: 100px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
} 

/* Character image*/
header img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-radius: 50%;
}

/*Character specs*/
 div .CardInformation {
    padding: 20px;
    color: rgb(170, 164, 164);
    margin: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    }
 span {
  display: block;
  text-align: left;
  font-size: 18px;
  text-indent: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  margin-top: 5px;
  padding: 5px;;
  }
 span.health {
   margin-top: 30px;;
  color: rgb(2, 131, 2);
 }
  span.damage {
    color: rgb(144, 43, 43);
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(226, 223, 223);
  }

 
 button {
   width: 100px;
   color: white;
   letter-spacing: .04em;
   font-size: 18px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(73, 71, 71,0.4);
   border: none;
   outline: none;
 }

 .charactersContainer button {
   position: relative;
   width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  padding: 20px;
 }
 .charactersContainer button:hover {
  color: cyan;
 }

 #gameLevel {
  white-space: pre-wrap;
  letter-spacing: .04em;
  font: 24px/1.2 'Inconsolata', monospace;
 }
 .levelButtons {
  position: absolute;
   margin-left: 70px;
   bottom: 20px;
   left: 31%;
 }
 .levelButtons button {
  margin-left: 70px;
  border-radius: 30%;
  padding: 10px;
 }

 #easy {
   margin-left: 0px;
   background-color: rgba(255, 255, 0, 0.1);
 }
 #easy:hover {
   background-color: rgba(255, 255, 0, 0.6);
 }
 #medium {
   background-color: rgba(255, 166, 0, 0.3);
 }
 #medium:hover {
   background-color: rgba(255, 166, 0, 0.8);
 }

 #hard {
   background-color: rgba(255, 0, 0, 0.4);
 }
 #hard:hover {
   background-color: rgba(255, 0, 0.6);
  }

 #startGame {
   position: absolute;
   text-decoration: none;
   top : 92%;
   right: 30px;
   width: 100px;
   height: 100px;
   text-align: right;
   background-image: url("../images/start-button.png");
   background-repeat: no-repeat;
   background-size: contain;
  }