.cards--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgba(3, 31, 32, 0.4);
  width: 400px;
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

/* Top part of the card */
header {
  background-color: rgb(170, 164, 164);
  height: 100px;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

/* Character image */
header img {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  border-radius: 50%;
}

/* Character specs */
div .CardInformation {
  margin: 20px 0;
  padding: 20px;
  color: rgb(170, 164, 164);
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.CardInformation p {
  min-height: 120px;
  text-align: center;
}

span {
  display: block;
  text-align: left;
  font-size: 18px;
  text-indent: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  padding: 5px;
}

span.health {
  margin-top: 30px;
  color: rgb(2, 131, 2);
}

span.damage {
  color: rgb(144, 43, 43);
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(226, 223, 223);
}

.charactersContainer button {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  padding: 20px;
  outline: none;
}

#gameLevel {
  white-space: pre-wrap;
  letter-spacing: 0.04em;
  font: 24px/1.2 'Inconsolata', monospace;
}

.levelButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.levelButtons button {
  border-radius: 30%;
  padding: 10px;
  outline: none;
}

.charactersContainer button:hover {
  color: cyan;
}

#easy {
  margin-left: 0;
  background-color: rgba(255, 255, 0, 0.1);
}

#easy:hover,
#easy.level-btn--selected {
  background-color: rgba(255, 255, 0, 0.6);
}

#medium {
  background-color: rgba(255, 166, 0, 0.3);
}

#medium:hover,
#medium.level-btn--selected {
  background-color: rgba(255, 166, 0, 0.8);
}

#hard {
  background-color: rgba(255, 0, 0, 0.4);
}

#hard:hover,
#hard.level-btn--selected {
  background-color: rgba(255, 0, 0.6);
}
