.logo {
  margin-top: -100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--secondary);
  padding: 50px;
  transform: rotate(-30deg);
}

.usernameDiv {
  width: 700px;
  height: 400px;
  background-color: var(--primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userDiv {
  text-align: center;
}

.enteruser,
.userText,
.main-btn {
  color: white;
  font-size: 28px;
}

.userText,
.main-btn {
  outline: none;
  background-color: var(--secondary);
  width: 350px;
  height: 60px;
  border-radius: 85px;
  padding: 10px;
  text-align: center;
  border: 3px solid var(--secondary);
}

.main-btn {
  width: 150px;
  height: 60px;
  border-radius: 85px;
  font-size: 24px;
  background-color: var(--orange);
  cursor: pointer;
  border: none;
}

.userText:focus {
  border-color: var(--yellow);
}

.enemyplane1 {
  width: 150px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  right: 10px;
  transition: 0.5s;
}
